<h1 class="user-show-list-heading">Following</h1>

<ul class="follow-table">
<% user.followings.each do |following| %>
  <%=link_to user_path(following) do %>
    <li class="follow-content">
      <%= following.name %><br/>
      <p style="color: coral;"><%= time_ago_in_words(Review.where(user_id: following.id).last.created_at)%>前 / 期限 : <%= Review.where(user_id: following.id).last.limit_id %>日</p>
    </li>
    <% end %>
<% end %>
</ul>

<h1 class="user-show-list-heading">Follower</h1>
<ul class="follow-table">
<% user.followers.each do |follower| %>
  <%=link_to user_path(follower) do %>
    <li class="follow-content">
      <%= follower.name %>
      <p style="color: coral;"><%= time_ago_in_words(Review.where(user_id: follower.id).last.created_at)%>前 / 期限 : <%= Review.where(user_id: follower.id).last.limit_id %>日</p>
    </li>
  <% end %>
<% end %>
</ul>