<h1 class="heading"><%= @user.name %></h1>


<div class="user-container">
  <div class="user-container-show">
    <div class="user-show-left">
    <h1 class="user-show-list-heading">Review list</h1>
      <ul class="index-table">
        <li class="index-content">
          <%= link_to "#" do %>
          <%= image_tag "index_cover.jpg", class:"index-cover" %>
          <h6><%= 'ランチェスター戦略「営業」大全' %></h6>
          <h6><%= 'Katsuji' %></h6>
          <% end %>
        </li>
        <li class="index-content">
          <%= link_to "#" do %>
          <%= image_tag "index_cover.jpg", class:"index-cover" %>
          <h6><%= 'ランチェスター戦略「営業」大全' %></h6>
          <h6><%= 'Katsuji' %></h6>
          <% end %>
        </li>
        <li class="index-content">
          <%= link_to "#" do %>
          <%= image_tag "index_cover.jpg", class:"index-cover" %>
          <h6><%= 'ランチェスター戦略「営業」大全' %></h6>
          <h6><%= 'Katsuji' %></h6>
          <% end %>
        </li>
        <li class="index-content">
          <%= link_to "#" do %>
          <%= image_tag "index_cover.jpg", class:"index-cover" %>
          <h6><%= 'ランチェスター戦略「営業」大全' %></h6>
          <h6><%= 'Katsuji' %></h6>
          <% end %>
        </li>
        <li class="index-content">
          <%= link_to "#" do %>
          <%= image_tag "index_cover.jpg", class:"index-cover" %>
          <h6><%= 'ランチェスター戦略「営業」大全' %></h6>
          <h6><%= 'Katsuji' %></h6>
          <% end %>
        </li>
        <li class="index-content">
          <%= link_to "#" do %>
          <%= image_tag "index_cover.jpg", class:"index-cover" %>
          <h6><%= 'ランチェスター戦略「営業」大全' %></h6>
          <h6><%= 'Katsuji' %></h6>
          <% end %>
        </li>
        <li class="index-content">
          <%= link_to "#" do %>
          <%= image_tag "index_cover.jpg", class:"index-cover" %>
          <h6><%= 'ランチェスター戦略「営業」大全' %></h6>
          <h6><%= 'Katsuji' %></h6>
          <% end %>
        </li>
        <li class="index-content">
          <%= link_to "#" do %>
          <%= image_tag "index_cover.jpg", class:"index-cover" %>
          <h6><%= 'ランチェスター戦略「営業」大全' %></h6>
          <h6><%= 'Katsuji' %></h6>
          <% end %>
        </li>
        <li class="index-content">
          <%= link_to "#" do %>
          <%= image_tag "index_cover.jpg", class:"index-cover" %>
          <h6><%= 'ランチェスター戦略「営業」大全' %></h6>
          <h6><%= 'Katsuji' %></h6>
          <% end %>
        </li>
        <li class="index-content">
          <%= link_to "#" do %>
          <%= image_tag "index_cover.jpg", class:"index-cover" %>
          <h6><%= 'ランチェスター戦略「営業」大全' %></h6>
          <h6><%= 'Katsuji' %></h6>
          <% end %>
        </li>
        <li class="index-content">
          <%= link_to "#" do %>
          <%= image_tag "index_cover.jpg", class:"index-cover" %>
          <h6><%= 'ランチェスター戦略「営業」大全' %></h6>
          <h6><%= 'Katsuji' %></h6>
          <% end %>
        </li>
        <li class="index-content">
          <%= link_to "#" do %>
          <%= image_tag "index_cover.jpg", class:"index-cover" %>
          <h6><%= 'ランチェスター戦略「営業」大全' %></h6>
          <h6><%= 'Katsuji' %></h6>
          <% end %>
        </li>
        <li class="index-content">
          <%= link_to "#" do %>
          <%= image_tag "index_cover.jpg", class:"index-cover" %>
          <h6><%= 'ランチェスター戦略「営業」大全' %></h6>
          <h6><%= 'Katsuji' %></h6>
          <% end %>
        </li>
        <li class="index-content">
          <%= link_to "#" do %>
          <%= image_tag "index_cover.jpg", class:"index-cover" %>
          <h6><%= 'ランチェスター戦略「営業」大全' %></h6>
          <h6><%= 'Katsuji' %></h6>
          <% end %>
        </li>
        <li class="index-content">
          <%= link_to "#" do %>
          <%= image_tag "index_cover.jpg", class:"index-cover" %>
          <h6><%= 'ランチェスター戦略「営業」大全' %></h6>
          <h6><%= 'Katsuji' %></h6>
          <% end %>
        </li>
        <li class="index-content">
          <%= link_to "#" do %>
          <%= image_tag "index_cover.jpg", class:"index-cover" %>
          <h6><%= 'ランチェスター戦略「営業」大全' %></h6>
          <h6><%= 'Katsuji' %></h6>
          <% end %>
        </li>
      </ul>
    </div>  
    <div class="user-show-right">
      <h1 class="user-show-list-heading">Follow list</h1>
      <ul class="follow-table">
        <li class="follow-content">
          <%= link_to 'FollowName', "#" %>
        </li>
        <li class="follow-content">
          <%= link_to 'FollowName', "#" %>
        </li>
        <li class="follow-content">
          <%= link_to 'FollowName', "#" %>
        </li>
        <li class="follow-content">
          <%= link_to 'FollowName', "#" %>
        </li>
        <li class="follow-content">
          <%= link_to 'FollowName', "#" %>
        </li>
        <li class="follow-content">
          <%= link_to 'FollowName', "#" %>
        </li>
        <li class="follow-content">
          <%= link_to 'FollowName', "#" %>
        </li>
        <li class="follow-content">
          <%= link_to 'FollowName', "#" %>
        </li>
        <li class="follow-content">
          <%= link_to 'FollowName', "#" %>
        </li>
        <li class="follow-content">
          <%= link_to 'FollowName', "#" %>
        </li>
        <li class="follow-content">
          <%= link_to 'FollowName', "#" %>
        </li>
        <li class="follow-content">
          <%= link_to 'FollowName', "#" %>
        </li>
        <li class="follow-content">
          <%= link_to 'FollowName', "#" %>
        </li>
        <li class="follow-content">
          <%= link_to 'FollowName', "#" %>
        </li>
        <li class="follow-content">
          <%= link_to 'FollowName', "#" %>
        </li>
        <li class="follow-content">
          <%= link_to 'FollowName', "#" %>
        </li>
      </ul>
    </div>  
  </div>

  <div class="link-btn">
    <% if current_user == @user %>
      <%= link_to "Edit", edit_user_registration_path(@user)%>
    <% else %>
      <%= link_to "Follow", "#" %>
    <% end %>
  </div>  
</div>
