<h1 class="heading"><%= @user.name %></h1>


<div class="user-container">
  <div class="user-container-show">

    <div class="user-show-left">
      <h1 class="user-show-list-heading">Reviews</h1>
      <ul class="index-table">
        <% @user.reviews.each do |review| %>
          <li class="index-content">
            <%= link_to review_path(review) do %>
              <%= image_tag review.image, class:"index-cover" %>
              <h6><%= review.title %></h6>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>  

    <div class="user-show-right">
      <h1 class="user-show-list-heading">Following</h1>
      
      <ul class="follow-table">
      <% @user.followings.each do |following| %>
        <%=link_to user_path(following) do %>
          <li class="follow-content">
            <%= following.name %>
          </li>
          <% end %>
      <% end %>
      </ul>

      <h1 class="user-show-list-heading">Follower</h1>
      <ul class="follow-table">
      <% @user.followers.each do |follower| %>
        <%=link_to user_path(follower) do %>
          <li class="follow-content">
            <%= follower.name %>
          </li>
        <% end %>
      <% end %>
      </ul>
    </div>  

  </div>

  <div class="link-btn">
    <% if current_user == @user %>
      <%= link_to "Edit", edit_user_registration_path(@user)%>
    <% else %>
      <% if current_user.following?(@user) %>
        <%= form_for(current_user.relationships.find_by(follow_id: @user.id), html: { method: :delete }) do |f| %>
          <%= hidden_field_tag :follow_id, @user.id %>
          <%= f.submit 'Unfollow', class: 'submit-btn' %>
        <% end %>
      <% else %>
        <%= form_for(current_user.relationships.build) do |f| %>
          <%= hidden_field_tag :follow_id, @user.id %>
          <%= f.submit 'Follow', class: 'submit-btn' %>
        <% end %>
      <% end %>
    <% end %>
  </div>  
</div>
