<script src="/javascript/user_show_tab.js"></script>
<h1 class="heading"><%= @user.name %></h1>
<div class="user-container" id="show-tab">
  <div class="follow-link-btn">
    <% if current_user == @user %>
      <%= link_to "Edit", edit_user_registration_path(@user) unless current_user == @guest_user %>
    <% else %>
      <%= render partial: "follow_btn", locals: { user: @user} %>
    <% end %>
  </div>
  <div class = "select-tab">
    <div class = "select-tab">
      <%= link_to "投稿一覧", "#" , data: {nav: '0'}, class: "tab" %>
      <%= link_to "フォロー", "#" , data: {nav: '1'}, class: "tab" %>
      <%= link_to "フォロワー", "#" , data: {nav: '2'}, class: "tab" %>
    </div>
  </div>

  <div class="user-container-show">
    <div class="user-show-left" id="index_tab" data-content="0" style=":display: none;">
      <%= render partial: "show_index_tab", locals: {user: @user} %>
    </div>

    <div class="user-show-right" id="follow_tab" data-content="1" style=":display: none;">
      <%= render partial: "show_follow_tab", locals: {user: @user} %>
    </div>  

    <div class="user-show-right" id="follow_tab" data-content="2" style=":display: none;">
      <%= render partial: "show_follower_tab", locals: {user: @user} %>
    </div>  
  </div>

</div>