<h1 class="index heading">All Reviews</h1>
<div class="index-container">
  <ul class="index-table">
    <li class="index-content">
      <%= link_to review_path(1) do %>
       <%= image_tag "index_cover.jpg", class:"index-cover" %>
       <h6><%= 'ランチェスター戦略「営業」大全' %></h6>
       <h6><%= 'Katsuji' %></h6>
      <% end %>
    </li>
    <li class="index-content">
      <%= link_to review_path(1) do %>
       <%= image_tag "index_cover.jpg", class:"index-cover" %>
       <h6><%= 'ランチェスター戦略「営業」大全' %></h6>
       <h6><%= 'Katsuji' %></h6>
      <% end %>
    </li>
    <li class="index-content">
      <%= link_to review_path(1) do %>
       <%= image_tag "index_cover.jpg", class:"index-cover" %>
       <h6><%= 'ランチェスター戦略「営業」大全' %></h6>
       <h6><%= 'Katsuji' %></h6>
      <% end %>
    </li>
    <li class="index-content">
      <%= link_to review_path(1) do %>
       <%= image_tag "index_cover.jpg", class:"index-cover" %>
       <h6><%= 'ランチェスター戦略「営業」大全' %></h6>
       <h6><%= 'Katsuji' %></h6>
      <% end %>
    </li>
    <li class="index-content">
      <%= link_to review_path(1) do %>
       <%= image_tag "index_cover.jpg", class:"index-cover" %>
       <h6><%= 'ランチェスター戦略「営業」大全' %></h6>
       <h6><%= 'Katsuji' %></h6>
      <% end %>
    </li>
    <li class="index-content">
      <%= link_to review_path(1) do %>
       <%= image_tag "index_cover.jpg", class:"index-cover" %>
       <h6><%= 'ランチェスター戦略「営業」大全' %></h6>
       <h6><%= 'Katsuji' %></h6>
      <% end %>
    </li>
    <li class="index-content">
      <%= link_to review_path(1) do %>
       <%= image_tag "index_cover.jpg", class:"index-cover" %>
       <h6><%= 'ランチェスター戦略「営業」大全' %></h6>
       <h6><%= 'Katsuji' %></h6>
      <% end %>
    </li>
    <li class="index-content">
      <%= link_to review_path(1) do %>
       <%= image_tag "index_cover.jpg", class:"index-cover" %>
       <h6><%= 'ランチェスター戦略「営業」大全' %></h6>
       <h6><%= 'Katsuji' %></h6>
      <% end %>
    </li>
    <li class="index-content">
      <%= link_to review_path(1) do %>
       <%= image_tag "index_cover.jpg", class:"index-cover" %>
       <h6><%= 'ランチェスター戦略「営業」大全' %></h6>
       <h6><%= 'Katsuji' %></h6>
      <% end %>
    </li>
    <li class="index-content">
      <%= link_to review_path(1) do %>
       <%= image_tag "index_cover.jpg", class:"index-cover" %>
       <h6><%= 'ランチェスター戦略「営業」大全' %></h6>
       <h6><%= 'Katsuji' %></h6>
      <% end %>
    </li>
    <li class="index-content">
      <%= link_to review_path(1) do %>
       <%= image_tag "index_cover.jpg", class:"index-cover" %>
       <h6><%= 'ランチェスター戦略「営業」大全' %></h6>
       <h6><%= 'Katsuji' %></h6>
      <% end %>
    </li>
  </ul>
</div>  