<h1 class="heading">All Reviews</h1>
<div class="index-container">
  <div class="search-object">
    <%= form_with(url: search_reviews_path, local: true, method: :get, class: "search-form") do |f| %>
        <%= "Category :"  %>
        <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"book-category"}) %>
        <div class="search-btn">
          <%= f.submit "検索" %>
        </div>
    <% end %> 
 </div>
  <ul class="index-table">
    <% @reviews.each do |review| %>
      <li class="index-content">
        <%= link_to review_path(review) do %>
          <%= image_tag review.image, class:"index-cover" if review.image.attached? %>
          <h6><%= review.title %></h6>
        <% end %>
        <%= link_to review.user.name , user_path(review.user)%></h6>
      </li>
    <% end %>
  </ul>
</div>  

