<h1 class="heading"> <%= @review.title %></h1>
<div class="review-show-container">
  <div class="review-show-left">
    <ul class="review-show-info">
      <li class="review-show-content">
        <h1>Category : <%= @review.category.name %></h1>
      </li>
      <li class="review-show-content">
        <h1>Reviewer : <%= @review.user.name %></h1>
      </li>
      <li class="review-show-content">
        <h1>Time limit : <%= @review.limit.name %></h1>
      </li>
      <li class="review-show-content">
        <h1>Created at : <%= @review.created_at.to_s(:datetime_jp) %></h1>
      </li>
      <li class="review-show-content">
        <%= image_tag @review.image, class:"show-cover" %>
      </li>
      <li class="review-show-content">
        <% if current_user == @review.user %>
          <div class="link-btn">
              <%= link_to "Edit", edit_review_path(@review)%>
          </div>
          <div class="link-btn">
              <%= link_to "Delete", review_path(@review), {method: :DELETE} %>
          </div>
        <% else %>
          <div class="link-btn">
              <%= link_to "Reviewer Page", user_path(@review.user)%>
          </div>
        <% end %>
      </li>
    </ul>
  </div>

  <div class="review-show-right">
    <div class="review-show-text">
      <p class="review-paragraph">
        <%= @review.text %>
      </p>
    </div>
  </div>
</div>