<!DOCTYPE html>
<html>
  <head>
    <title>Stencil</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main>
      <div class="side-bar">
        <%= link_to "About", "#" %>
        <% if user_signed_in? %>
          <%= link_to "Write", new_review_path %>
          <%= link_to "Reviews", reviews_path %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path %>
          <%= link_to "Login", new_user_session_path %>
        <% end %>
      </div>
      <div class="image-area">
        <%= image_tag "object.jpg", class:"side-image" %>
        <%= image_tag "object.jpg", class:"side-image" %>
      </div>
      <div class="container">
        <%= yield %>
      </div>
    </main>
    <footer>
      <div class="under-ber">
        <% if user_signed_in? %>
          <%= link_to current_user.name, user_path(current_user) %>
        <%end%>
        <p class="footer-limit">レビュー期限 :７日</p>
        <%= link_to "Stencil", root_path %>
      </div>
    </footer>
  </body>
</html>
